<h3>{{LeagueName}} Standings</h3>
<br>
<table style="width: 75%;">
    <thead >
        <tr>
            <th >Nama Team</th>
            <th >Games</th>
            <th >Points</th>
            <th >Goal For</th>
            <th >Goal Againts</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let currentRow of Standings">
            <td>{{currentRow.TeamName}}</td>
            <td>{{currentRow.GamesPlayed}}</td>
            <td>{{currentRow.wins*3 + currentRow.Ties}}</td>
            <td>{{currentRow.GoalsFor}}</td>
            <td>{{currentRow.GoalsAgaints}}</td>
        </tr>
    </tbody>
</table>
